<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
		<modules>
			<remove name="UrlAuthorization" />
			<add name="UrlAuthorization" type="System.Web.Security.UrlAuthorizationModule"  />			
		</modules>
        <rewrite>
            <rules>
                <rule name="RedirectHTTPS" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTPS}" pattern="^OFF$" />
                    </conditions>
                    <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="Found" />
                </rule>
            </rules>
        </rewrite>
		
		
		<!-- <httpErrors errorMode="Custom" defaultResponseMode="redirectType"> -->
			<!-- <clear /> -->
			<!-- <error statusCode="404" path="https://{HTTP_HOST}"/> -->
			<!-- <error statusCode="401" path="https://{HTTP_HOST}"/> -->
			<!-- <error statusCode="403" path="https://{HTTP_HOST}"/> -->
		<!-- </httpErrors> -->
    </system.webServer>
	
	
	<location path="apontamentos">
		<system.web>
			<authorization>
				<deny users="*" />
				<deny users="?" />
			</authorization>
		</system.web>
	</location>
	<location path="empresas/curriculos">
		<system.web>
			<authorization>
				<deny users="*" />
				<deny users="?" />
			</authorization>
		</system.web>
	</location>	
</configuration>
